<!-- <div class="form">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup] = "profileForm" (ngSubmit)="onSubmit()">

      <div>
        <label for="fname">First Name</label>
        <input type="text" id="fname" placeholder="Your name.." formControlName="firstName">
        <div *ngIf="first?.touched && first?.invalid">
          <small *ngIf="first?.errors?.['required']">First Name is Required</small>
          <small *ngIf="first?.errors?.['minlength']">First Name Should be minimum length {{first?.errors?.['minlength'].requiredLength}}</small>
        </div>
        
        <div>
          <small *ngIf="fname.invalid && fname.touched">First Name is a required field</small>
          <span *ngIf="firstname">You entered {{firstname}}</span>
        </div> -->
        <!-- <br>
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" placeholder="Your last name.." formControlName="lastName"> -->
        <!-- <div>
          <span *ngIf="lastname">You entered {{lastname}}</span>
        </div> -->
<!-- 
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your last email.." formControlName="email">

        
      </div>


      <div formGroupName="address">
        <h2>Address</h2>
      
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">
      
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">
      
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">
      
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
      </div>

      <label for="country">Country</label>
      <select id="country" name="country" >
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="india">India</option>
        <option value="uk">UK</option>
      </select>

      <label for="gender">Gender:</label>
      <input type="radio" id="male" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" value="female">
      <label for="male">Female</label>
      <input type="radio" id="other" value="other">
      <label for="male">Other</label>

      <br><br>
      <label>Hobbies <i>(Optional)</i></label>
      <div class="form-inline">
          <label><input type="checkbox" value="sports" name="hobbies" formControlName="hobbies" > Sports</label>
          <label><input type="checkbox" value="movies" name="hobbies" formControlName="hobbies"> Movies</label>
          <label><input type="checkbox" value="music" name="hobbies"formControlName="hobbies"> Music</label>
      </div>
    
      <input type="submit" value="Submit" id="btn">[disabled]="!myForm.valid"-->
    <!-- </form>
</div> --> 

<!-- <div class="form-data">
  <h3>Form Data</h3>
  <p>First Name: <b>{{formData.value.firstName}}</b></p>
  <p>Your Hobbies: <b>{{formData.value.hobbies}}</b></p>
 
</div> -->

<app-rooms>
</app-rooms>